{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <section class="section px-2">
        <div class="container">
            <div class="is-flex is-justify-content-center">
                <div class="is-flex-grow-0" style="width: 100%; max-width: 400px;">
                    <!-- Password Reset Card -->
                    <div class="box">
                        <h1 class="title has-text-centered has-text-weight-bold is-size-4">Zapomniałeś hasła?</h1>
                        <p class="has-text-centered mb-4 has-text-grey">Podaj swój adres email, a wyślemy Ci link do zresetowania hasła.</p>

                        <!-- Password Reset Form -->
                        <form method="post" class="mb-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="field mt-4">
                                <div class="control">
                                    <button class="button is-primary is-fullwidth has-text-weight-bold" type="submit">
                                        <span class="icon"><i class="fas fa-envelope"></i></span>
                                        <span>Wyślij link resetujący</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Back to Login Card -->
                    <div class="box has-text-centered p-5 mt-5">
                        <p class="has-text-weight-medium mb-4">Jednak pamiętasz hasło?</p>
                        <a href="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}"
                           class="button is-info is-outlined is-fullwidth has-text-weight-bold">
                            <span class="icon"><i class="fas fa-key"></i></span>
                            <span>Zaloguj się</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
