{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
{% if exams_list %}
{% for exam in exams_list %}
{% if request.user.id == exam.scout.user.id %}
<div class="box">
<h1 class="title">{{ exam }}</h1>
<table class="table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Zadanie</th>
      <th>Zaliczone?</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
	  <th><span class="has-tooltip-arrow has-tooltip-right has-tooltip-primary" data-tooltip="Procent wykonanych zadań">{{ exam.percent }}</span></th>
    </tr>
  </tfoot>
  <tbody>
    {% for task in exam.task_set.all %}
	<tr>
      <th>{{ forloop.counter }}</th>
      <td>{{ task.task }}</td>
	  {% if task.is_done %}
      <td><span class="has-tooltip-arrow has-tooltip-right" data-tooltip="{{ task.approver }} zatwierdził {{ task.approval_date }}"><i class="far fa-check-circle"></i></span></td>
	  {% elif task.is_await %}
      <td><span class="has-tooltip-arrow has-tooltip-right" data-tooltip="{{ task.approval_date }} wysłano prośbę o zaliczenie do {{ task.approver }}"><i class="far fa-clock"></i></span></td>
	  {% else %}
		<td></td>
	  {% endif %}
	</tr>
    {% endfor %}
  </tbody>
</table>
{% if exam.percent != "100%" %}
  <a href="{% url 'exam:submit_task' exam.id %}">
    <button class="button is-success is-light">
	  <span class="icon">
		<i class="fas fa-clipboard-check"></i>
	  </span>
	  <span>Wyślij prośbę o zatwierdzenie zadania</span>
	</button>
  </a>
  <a href="{% url 'exam:sent_tasks' exam.id %}">
    <button class="button is-primary is-light">
	  <span class="icon">
		<i class="fas fa-paper-plane"></i>
	  </span>
	  <span>Wysłane prośby o zatwierdzenie</span>
	</button>
  </a>
{% endif %}
</div>
{% else %}
	<div class="box">
	Nie masz jeszcze dodanej żadnej próby, skontaktuj się ze swoim przełożonym.
	</div>
{% endif %}
{% endfor %}
{% else %}
	<div class="box">
	Nie masz jeszcze dodanej żadnej próby, skontaktuj się ze swoim przełożonym.
	</div>
{% endif %}
{% else %}
	<div class="box">
	Aby wyświetlić swoje próby musisz się najpierw zalogować.
	</div>
{% endif %}
{% endblock %}
