{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if exams_list %}
            <div class="level">
                <div class="level-left">
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="select">
                            <label>
                                <select name="patrol_select" class="select is-colored"
                                        onchange="filter_by_patrol(this.value)">
                                    <option value="all">Wszystkie zastępy</option>
                                    {% for patrol in patrols %}
                                        <option value={{ patrol.id }}>{{ patrol.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% for exam in exams_list %}
                <div class="block exam" id="exam_{{ exam.id }}" scout_patrol="{{ exam.scout.patrol.id }}">
                    <div class="box">
        <span class="icon-text">
            <span class="title">{{ exam }} </span>
            <span class="has-tooltip-bottom has-tooltip-arrow" id="tooltip_text_{{ exam.id }}"
                  data-tooltip="Naciśnij aby skopiować link do próby"><span
                    onclick="copy_to_clipboard('tooltip_text_{{ exam.id }}', '{{ request.get_host }}{% url 'exam:view_shared_exams' exam.share_key %}')" class="icon"><i
                    class="fa-solid fa-clipboard"></i></span></span>
            <span class="has-tooltip-bottom has-tooltip-arrow" id="tooltip_text_{{ exam.id }}_print"
                  data-tooltip="Drukuj próbę"><span onclick="location.href='{% url 'exam:print_exam' exam.share_key %}'"
                                                    class="icon"><i class="fas fa-print"></i></span></span>
            <span class="has-tooltip-bottom has-tooltip-arrow"
                  data-tooltip="Zarchiwizuj próbę"><span
                    onclick="confirm_popup(null, 'Czy na pewno chcesz zarchwiwizować tę próbę? \Zostanie ona przeniesiona do archiwum i będziesz miał możliwość jej przywrócenia.', fun=function(){$.ajax({'url': '{% url 'api-exam-list' %}{{ exam.id }}/', 'type': 'patch', 'headers': {'X-CSRFToken': '{{ csrf_token }}'}, 'dataType': 'json', 'data': {'registration_id':'{{ device.registration_id }}', 'is_archived': 'true'}, 'success': function () {alert('Próba została zarchiwizowana.'); $('#exam_{{ exam.id }}').remove();}}) })"
                    class="icon"><i class="fa-solid fa-box-archive"></i></span></span>
            {% if user.scout.function > 2 %}
                <span class="has-tooltip-bottom has-tooltip-arrow"
                      data-tooltip="Usuń próbę"><span
                        onclick="confirm_popup(null, 'Czy na pewno chcesz usunąć tę próbę? \nJest to permanentne i nie będziesz w stanie nigdy cofnąć tej akcji (nawet Tony Stark - geniusz, miliarder, playboy i filantrop nie bułby w stanie tego dokonać więc bądź ostrożny 😷).', fun=function(){$.ajax({'url': '{% url 'api-exam-list' %}{{ exam.id }}/', 'type': 'delete', 'headers': {'X-CSRFToken': '{{ csrf_token }}'}, 'dataType': 'json', 'success': function () {alert('Próba została usunięta.'); $('#exam_{{ exam.id }}').remove();}}) })"
                        class="icon"><i class="fa-solid fa-trash"></i></span></span>
            {% endif %}
            <span class="has-tooltip-bottom has-tooltip-arrow"
                  data-tooltip="Edytuj próbę"><span onclick="confirm_popup('{% url 'exam:edit_exam' exam.id %}', 'Funkcja edycji prób ciągle jest jeszcze testowana i na razie zanjduje się w fazie βeta i mogą wystąpić błędy podczas jej używania. \n\nCzy chcesz kontynuować?')"
                                                    class="icon"><i class="fas fa-edit"></i></span></span>
            </span>
                        {% if exam.supervisor %}
                            <h2 class="subtitle">Opiekun próby: <a
                                    href="{% url 'view_profile' user_id=exam.supervisor.user.id %}">{{ exam.supervisor.user.full_name_nickname }}</a>
                            </h2>
                        {% endif %}
                        <p><br/></p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="is-narrow">Lp.</th>
                                <th>Zadanie</th>
                                {% if exam.show_description_column %}
                                    <th>Opis</th>
                                {% endif %}
                                <th style="width:4rem">Status</th>
                                <th style="width:4rem">Akcja</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                {% if exam.show_description_column %}
                                    <th></th>
                                {% endif %}
                                <th></th>
                                <th><span class="has-tooltip-arrow has-tooltip-right has-tooltip-primary"
                                          data-tooltip="Procent wykonanych zadań">{{ exam.percent }}</span></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for task in exam.tasks.all %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ task.task }}</td>
                                    {% if exam.show_description_column %}
                                        {% if task.description != "" %}
                                            <td>{{ task.description }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                    {% if task.status == 2 %}
                                        <td>
                                            <div id="status-icon_{{ task.id }}"><span
                                                    class="has-tooltip-arrow has-tooltip-right"
                                                    data-tooltip="{{ task.approver }} zatwierdził {{ task.approval_date }}"><i
                                                    class="far fa-check-circle"></i></span></div>
                                        </td>
                                    {% elif task.status == 1 %}
                                        <td>
                                            <div id="status-icon_{{ task.id }}"><span
                                                    class="has-tooltip-arrow has-tooltip-right"
                                                    data-tooltip="{{ task.approval_date }} wysłano prośbę o zaliczenie do {{ task.approver }}"><i
                                                    class="far fa-clock"></i></span></div>
                                        </td>
                                    {% else %}
                                        <td>
                                            <div id="status-icon_{{ task.id }}"></div>
                                        </td>
                                    {% endif %}
                                    <td><span class="has-tooltip-arrow has-tooltip-left has-tooltip-success"
                                              data-tooltip="Zatwierdź zadanie" id="{{ task.id }}"><a
                                            onclick="send_post('{% url 'exam:force_accept_task' exam.id task.id %}', '{{ task.id }}', '{{ exam.id }}', 'Czy na pewno chcesz zatwierdzić zadanie?')"><i
                                            class="far fa-check-circle" style="color:green;"></i></a></span> <span
                                            class="has-tooltip-arrow has-tooltip-right has-tooltip-danger"
                                            data-tooltip="Odrzuć zadanie"><a
                                            onclick="send_post('{% url 'exam:force_refuse_task' exam.id task.id %}', '{{ task.id }}', '{{ exam.id }}', 'Czy na pewno chcesz odrzucić zadanie?')"><i
                                            class="far fa-times-circle" style="color:red;"></i></a></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                W systemie nie ma jeszcze żadnej próby którą możesz edytować.
            </div>
        {% endif %}
    {% else %}
        <div class="box">
            Aby edytować próby musisz się najpierw zalogować.
        </div>
    {% endif %}
    <script>
        filter_by_patrol("all")

        function filter_by_patrol(c) {
            var x, i;
            x = document.getElementsByClassName("exam");
            if (c === "all") {
                $('.exam').addClass('show')
                return;
            }
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                RemoveClass(x[i], "show");
                if ($(x[i]).attr('scout_patrol') === c) AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) === -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        function send_post(url, task_id = "", exam_id = "", message = "") {
            if (message) {
                if (confirm(message)) {
                    $("#status-icon_" + task_id).html('<span class="has-tooltip-arrow has-tooltip-right" data-tooltip="Ładowanie"><i class="fas fa-spinner fa-spin"></i></span>');
                    var posting = $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'});
                    posting.done(function (data) {
                        $("#exam_" + exam_id).load(document.URL + " #exam_" + exam_id + " > div");
                    });
                    posting.fail(function (data) {
                        alert("Wystąpił błąd przy edycji zadania, spróbuj ponownie później.");
                        $("#status-icon_" + task_id).html('<span class="has-tooltip-arrow has-tooltip-right has-tooltip-danger" data-tooltip="Wystąpił błąd"><i class="fas fa-exclamation-circle bounce" style="color:red;"></i></span>');
                    });
                }
            } else {
                console.log("No message");
            }
        }
    </script>
    <style>
        .exam {
            display: none; /* Hidden by default */
        }

        .show {
            display: block;
        }
    </style>
{% endblock %}