{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="box">
        <h1 class="title">Poproś o zatwierdzenie zadania</h1>
        <h1 class="subtitle">{{ exam }}</h1>
        <form action="{% url 'exam:submit_task' exam.id %}" method="post" id="form">
            {% csrf_token %}
            {% for form in forms %}
                {{ form|crispy }}
            {% endfor %}
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Prześlij</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
