{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if exams_list %}
            {% for exam in exams_list %}
                <div class="block exam" id="exam_{{ exam.id }}" scout_patrol="{{ exam.scout.patrol.id }}">
                    <div class="box">
                        <span class="title">{{ exam.name }} </span>
                        <p><br/></p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="is-narrow">Lp.</th>
                                <th>Zadanie</th>
                                {% if exam.show_description_column %}
                                    <th>Opis</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                {% if exam.show_description_column %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for task in exam.tasks.all %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ task.task }}</td>
                                    {% if exam.show_description_column %}
                                        {% if task.description != "" %}
                                            <td>{{ task.description }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="button is-warning is-light" onclick="location.href='{% url 'exam:create_exam' %}?next={% url 'exam:manage_exams' %}&source=templates&template={{ exam.id }}'">
                            <span class="icon">
                                <i class="fa-solid fa-object-group"></i>
                            </span>
                            <span>Użyj szablonu</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                W systemie nie ma jeszcze żadnych szablonów.
            </div>
        {% endif %}
    {% else %}
        <div class="box">
            Aby użyć szablonów musisz się najpierw zalogować.
        </div>
    {% endif %}
{% endblock %}