#container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner {
    min-width: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.greeniconcolor {color:green;}

.rediconcolor {color:red;}

.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--logo);
  background-size: 112px;
  width: 112;
  height: 26.25;
  padding-left: 112px;
}