{% extends 'core/base.html' %}
{% block content %}
    <div class="box">
        <h1 class="title">O stronie</h1>
        Strona e-próba została stworzona w lutym 2021 roku ale ciągle ciągle się rozwija i już teraz pozwala na szybki
        dostęp do harcerskich prób na stopnie dla wszystkich drużyn ZHR w Zielonej Górze.<br/>
    </div>
    <div class="box">
        Jeśli chciałbyś/chciałabyś dodać swoją drużynę do strony (oraz należysz do kadry swojej drużyny) skontaktuj się
        z nami przez <a href="{% url 'contact' %}">formularz kontaktowy</a>.
    </div>
{% endblock %}
<!--
{% block footer %}
<div style="background-color:transparent; padding: 1rem 1.5rem 1rem">
    <div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pb-2 mt-6 f6 color-text-secondary border-top color-border-secondary "></div>
    <p class="has-text-centered">
        <strong>e-próba</strong> by <a href="https://github.com/Antoni-Czaplicki">Antoni Czaplicki</a>. Source code is available on <a href="https://github.com/Antoni-Czaplicki/scouts_exams">Github</a>.
    </p>
</div>
{% endblock %}
-->
