{% extends 'core/base.html' %}
{% block title %}Zarządzaj próbami{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="control has-icons-left">
                        <label>
                            <input class="input is-colored has-colored-placeholder" placeholder="Szukaj prób" id="exam_searchbar" onkeyup="filter_by_name(this.value)">
                        </label>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="select">
                        <label>
                            <select name="patrol_select" id="patrol_selector" class="select is-colored" onchange="filter_by_patrol(this.value)">
                                <option value="all">Wszystkie zastępy</option>
                                {% for patrol in patrols %}
                                    <option value={{ patrol.id }}>{{ patrol.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="exams-list"></div>

        <div class="box show" id="loading">
            <div class="block" style="display: flex; justify-content: center">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>



        <script>
            async function fetchExams() {
                try {
                    const response = await fetch('/api/exam/');
                    return await response.json();
                } catch (error) {
                    console.log('Error fetching exams:', error);
                    return [];
                }
            }

            async function fetchUsers() {
                try {
                    const response = await fetch('/api/users/');
                    return await response.json();
                } catch (error) {
                    console.log('Error fetching users:', error);
                    return [];
                }
            }


            async function fetchUser(id) {
                try {
                    const response = await fetch(`/api/users/${id}/`);
                    return await response.json();
                } catch (error) {
                    console.log('Error fetching user:', error);
                    return [];
                }
            }

            function generateShareKey(exam) {
                const userId = exam.user;
                const examId = exam.id;

                return `0x${(userId * 7312).toString(16)}0x${(examId * 2137).toString(16)}`;
            }

            function calculatePercentage(tasks) {
                const totalTasks = tasks.length;
                const completedTasks = tasks.filter(task => task.status === 2).length;

                if (totalTasks !== 0) {
                    return Math.round((completedTasks / totalTasks) * 100) + '%';
                } else {
                    return "Nie masz jeszcze dodanych żadnych zadań";
                }
            }

            function renderExams(exams, users) {
                const examsList = document.getElementById('exams-list');
                document.getElementById('loading').style.display = 'none';
                var missingUsers = []

                if (exams.length === 0) {
                    const examDiv = document.createElement('div');
                    examDiv.className = 'exam-container';
                    examDiv.innerHTML = '<div class="box">W systemie nie ma jeszcze żadnej próby którą możesz edytować.</div>';
                    examsList.appendChild(examDiv);
                }

                exams.sort((a, b) => new Date(b.updated_at) - new Date(a.updated_at))
                
                exams.filter(exam => exam.deleted === false).forEach((exam) => {
                    examsList.appendChild(renderExam(exam, users, missingUsers));
                });

                new Set(missingUsers.map(missingUser => missingUser.id)).forEach(id =>
                    fetchUser(id).then(function (user) {
                        users.push(user)
                        missingUsers.filter(missingUser => missingUser.id === id).forEach(missingUser => {
                            const element = document.getElementById(missingUser.element_id)
                            if (missingUser.type === 'exam_title') {
                                element.innerHTML = element.innerHTML.replace('Nieznany użytkownik #' + id, `${user.scout.rank} ${user.nickname}`)
                                element.parentElement.setAttribute('data-patrol-id', user.scout.patrol)
                            } else if (missingUser.type === 'exam_supervisor') {
                                element.innerHTML = element.innerHTML.replace('Nieznany użytkownik #' + id, `${user.scout.rank} ${user.nickname}`)
                            } else  if (missingUser.type === 'task_status_icon') {
                                element.setAttribute('data-tooltip', element.getAttribute('data-tooltip').replace('Nieznany użytkownik #' + id, `${user.scout.rank} ${user.nickname}`))
                            }
                        })
                    })

                )
            }

            function renderExam(exam, users, missingUsers) {
                const share_key = generateShareKey(exam)
                const showDescription = exam.tasks.some(task => task.hasOwnProperty('description') && task.description !== '');
                const examDiv = document.createElement('div');
                examDiv.className = 'block exam show';
                examDiv.id = `exam_${exam.id}`
                examDiv.setAttribute('data-tasks-count', exam.tasks.length);
                examDiv.setAttribute('data-completed-tasks-count', exam.tasks.filter(task => task.status === 2).length);

                let user;
                user = users.find(user => user.id === exam.user);
                if (!user) {
                    missingUsers.push({'id': exam.user, 'element_id': `exam-title_${exam.id}`, 'type':'exam_title'})
                    user = {nickname: `Nieznany użytkownik #${exam.user}`, scout: {patrol: 0, rank: ''}}
                }
                let supervisor;
                if (exam.supervisor) {
                    supervisor = users.find(user => user.id === exam.supervisor);
                    if (!supervisor) {
                        missingUsers.push({'id':exam.supervisor, 'element_id':`exam-supervisor_${exam.id}`, 'type':'exam_supervisor'})
                        supervisor = {
                            nickname: {nickname: `Nieznany użytkownik #${exam.supervisor}`},
                            scout: {rank: ''}
                        }
                    }
                }
                examDiv.setAttribute('data-patrol-id', user.scout.patrol)
                examDiv.innerHTML = `
                    <div class="box">
                        <span class="icon-text is-align-items-center">
                            <span class="title" style="margin-bottom: 0" id="exam-title_${exam.id}">${exam.name} - ${user.scout.rank} ${user.nickname}</span>
                            <span class="icon has-tooltip-bottom has-tooltip-arrow" id="tooltip_text_${exam.id}" data-tooltip="Naciśnij aby skopiować link do próby">
                                <span onclick="copy_to_clipboard('tooltip_text_${exam.id}', '{{ request.get_host }}{% url 'exam:view_shared_exams' 'placeholder' %}'.replace('placeholder', '${share_key}'))">
                                    <i class="fa-solid fa-clipboard"></i>
                                </span>
                            </span>
                            <span class="icon has-tooltip-bottom has-tooltip-arrow" id="tooltip_text_${exam.id}_print" data-tooltip="Drukuj próbę">
                                <span onclick="location.href='{% url 'exam:print_exam' 'placeholder' %}'.replace('placeholder', '${share_key}')">
                                    <i class="fas fa-print"></i>
                                </span>
                            </span>
                            <span class="icon has-tooltip-bottom has-tooltip-arrow" data-tooltip="Zarchiwizuj próbę">
                                <span onclick="confirm_popup(null, 'Czy na pewno chcesz zarchwiwizować tę próbę? \\nZostanie ona przeniesiona do archiwum i będziesz miał możliwość jej przywrócenia.', fun=function(){$.ajax({'url': '{% url 'api-exam-list' %}${exam.id}/', 'type': 'patch', 'headers': {'X-CSRFToken': '{{ csrf_token }}'}, 'dataType': 'json', 'data': {'is_archived': 'true'}, 'success': function () {alert('Próba została zarchiwizowana.'); $('#exam_${exam.id}').remove();}}) })">
                                    <i class="fa-solid fa-box-archive"></i>
                                </span>
                            </span>
                            {% if user.scout.function > 2 %}
                            <span class="icon has-tooltip-bottom has-tooltip-arrow" data-tooltip="Usuń próbę">
                                <span onclick="confirm_popup(null, 'Czy na pewno chcesz usunąć tę próbę? \\nJest to prawie permanentne i nie będziesz w stanie nigdy cofnąć tej akcji.', fun=function(){$.ajax({'url': '{% url 'api-exam-list' %}${exam.id}/', 'type': 'delete', 'headers': {'X-CSRFToken': '{{ csrf_token }}'}, 'dataType': 'json', 'success': function () {alert('Próba została usunięta.'); $('#exam_${exam.id}').remove();}}) })">
                                    <i class="fa-solid fa-trash"></i>
                                </span>
                            </span>
                            {% endif %}
                            <span class="icon has-tooltip-bottom has-tooltip-arrow" data-tooltip="Edytuj próbę">
                                <span onclick="location.href='{% url 'exam:edit_exam' 0 %}'.replace('0', '${exam.id}')">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </span>
                        </span>
                        ${exam.supervisor ? ` <h2 class="subtitle" id="exam-supervisor_${exam.id}">Opiekun próby: <a href="${'{% url 'view_profile' user_id=0 %}'.replace('0', exam.supervisor)}">${supervisor.scout.rank} ${supervisor.nickname}</a></h2>` : ''}
                        <h2 class="subtitle is-6">Ostatnia edycja: ${(new Date(exam.updated_at)).toLocaleString()}</h2>
                        <p>
                            <br/>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="is-narrow">Lp.</th>
                                    <th>Zadanie</th> ${showDescription ? ' <th>Opis</th>' : ''}
                                    <th style="width:4rem">Status</th>
                                    <th style="width:4rem">Akcja</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th> ${showDescription ? ' <th></th>' : ''}
                                    <th></th>
                                    <th>
                                        <span class="has-tooltip-arrow has-tooltip-left has-tooltip-primary" data-tooltip="Procent wykonanych zadań" id="exam-percentage_${exam.id}">
                                            ${calculatePercentage(exam.tasks)}
                                        </span>
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                ${renderTasks(exam, users, missingUsers, showDescription)}
                            </tbody>
                        </table>
                    </div>
                `
                return examDiv
            }



            function renderTasks(exam, users, missingUsers, showDescription = false) {
                let tasksHTML = '';


                exam.tasks.forEach(function (task, i) {
                    tasksHTML += `
                        <tr>
                            <th>${i + 1}</th>
                            <td>${task.task}</td> ${showDescription ? ` <td>${task.description}</td>` : ''} <td>${renderStatusIcon(task, users, missingUsers)}</td>
                            <td>
                                <span class="has-tooltip-arrow has-tooltip-left has-tooltip-success" data-tooltip="Zatwierdź zadanie">
                                    <a onclick="updateTaskStatus('${exam.id}', '${task.id}', 2, 'Czy na pewno chcesz zatwierdzić to zadanie?')">
                                        <i class="far fa-check-circle" style="color:green;"></i>
                                    </a>
                                </span>
                                <span class="has-tooltip-arrow has-tooltip-left has-tooltip-danger" data-tooltip="Odrzuć zadanie">
                                    <a onclick="updateTaskStatus('${exam.id}', '${task.id}', 3, 'Czy na pewno chcesz odrzucić to zadanie?')">
                                        <i class="far fa-times-circle" style="color:red;"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    `;
                });

                return tasksHTML;
            }

            function renderStatusIcon(task, users, missingUsers) {
                let approver;
                if (task.approver !== null && task.status !== 0) {
                    approver = users.find(user => user.id === task.approver);
                    if (!approver) {
                        missingUsers.push({'id':task.approver, 'element_id':'status-icon-tooltip_' + task.id, 'type':'task_status_icon'})
                        approver = {nickname: `Nieznany użytkownik #${task.approver}`, scout: {rank: ''}};
                    }
                } else {
                    approver = {nickname: `Nieznany użytkownik #${task.approver}`, scout: {rank: ''}};
                }
                let statusHTML;
                if (task.status === 2) {
                    statusHTML = `
                        <div id="status-icon_${task.id}" data-status=2><span
                        class="has-tooltip-arrow has-tooltip-left" id="status-icon-tooltip_${task.id}"
                        data-tooltip="${approver.scout.rank} ${approver.nickname} zatwierdził ${(new Date(task.approval_date)).toLocaleString()}"><i
                        class="far fa-check-circle"></i></span></div>
                    `;
                } else if (task.status === 1) {
                    statusHTML = `
                        <div id="status-icon_${task.id} data-status=1"><span
                        class="has-tooltip-arrow has-tooltip-left" id="status-icon-tooltip_${task.id}"
                        data-tooltip="${(new Date(task.approval_date)).toLocaleString()} wysłano prośbę o zaliczenie do ${approver.scout.rank} ${approver.nickname}"><i
                        class="far fa-clock"></i></span></div>
                    `;
                } else if (task.status === 3) {
                    statusHTML = `
                        <div id="status-icon_${task.id}" data-status=3><span
                        class="has-tooltip-arrow has-tooltip-left" id="status-icon-tooltip_${task.id}"
                        data-tooltip="${(new Date(task.approval_date)).toLocaleString()} zadanie zostało odrzucone przez ${approver.scout.rank} ${approver.nickname}"><i
                        class="far fa-circle-xmark"></i></span></div>
                    `;
                } else {
                    statusHTML = `
                        <div id="status-icon_${task.id}" data-status=0></div>
                    `;
                }
                return statusHTML;
            }


            async function main() {
                const exams = await fetchExams();
                const users = await fetchUsers();
                renderExams(exams, users);
            }

            main();
        </script>
    {% else %}
        <div class="box">
            Aby edytować próby musisz się najpierw zalogować.
        </div>
    {% endif %}
    <script>
        function filter_by_patrol(c) {
            let x, i;
            x = document.getElementsByClassName("exam");
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                if (($(x[i]).attr('data-patrol-id') === c || c === "all") && $(x[i]).find(".title").text().toLowerCase().indexOf($("#exam_searchbar").val().toLowerCase()) > -1) {
                    AddClass(x[i], "show");
                } else {
                    RemoveClass(x[i], "show");
                }
            }
        }

        function filter_by_name(c) {
            let x, i;
            x = document.getElementsByClassName("exam");
            const selected_patrol = $('#patrol_selector').val();
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not matching the search query
            for (i = 0; i < x.length; i++) {
                if ($(x[i]).find(".title").text().toLowerCase().indexOf(c.toLowerCase()) > -1 && (selected_patrol === "all" || $(x[i]).attr('data-patrol-id') === selected_patrol)) {
                    AddClass(x[i], "show");
                } else {
                    RemoveClass(x[i], "show");
                }
            }
        }

        // Show filtered elements
        function AddClass(element, name) {
            let i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) === -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function RemoveClass(element, name) {
            let i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        function updateTaskStatus(exam_id, task_id, newStatus, message) {
            if (message) {
                if (confirm(message)) {
                    const examElement = $("#exam_" + exam_id);
                    const statusIcon = $("#status-icon_" + task_id);
                    statusIcon.html('<span class="has-tooltip-arrow has-tooltip-left" data-tooltip="Ładowanie"><i class="fas fa-spinner fa-spin"></i></span>');
                    let url;
                    if (newStatus === 2) {
                        url = `/exam/${exam_id}/task/${task_id}/force/accept`
                    } else if (newStatus === 3) {
                        url = `/exam/${exam_id}/task/${task_id}/force/reject`
                    }
                    const posting = $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'});
                    posting.done(function () {
                        const previousStatus = parseInt(statusIcon.attr('data-status'));
                        if (newStatus===2) {
                            statusIcon.html('<span class="has-tooltip-arrow has-tooltip-left" data-tooltip="Zadanie właśnie zostało zaliczone"><i class="far fa-check-circle"></i></span>');
                            if (previousStatus === 0 || previousStatus === 1 || previousStatus === 3) {
                                examElement.attr('data-completed-tasks-count', parseInt(examElement.attr('data-completed-tasks-count')) + 1)
                            }
                        } else if (newStatus===3) {
                            statusIcon.html('<span class="has-tooltip-arrow has-tooltip-left" data-tooltip="Zadanie właśnie zostało odrzucone"><i class="far fa-circle-xmark"></i></span>');
                            if (previousStatus === 2) {
                                examElement.attr('data-completed-tasks-count', parseInt(examElement.attr('data-completed-tasks-count')) - 1)
                            }
                        }
                        statusIcon.attr('data-status', newStatus);
                        $(`#exam-percentage_${exam_id}`).html(Math.round(parseInt(examElement.attr('data-completed-tasks-count')) / parseInt(examElement.attr('data-tasks-count')) * 100) + "%" );
                    });
                    posting.fail(function () {
                        alert("Wystąpił błąd przy edycji zadania, spróbuj ponownie później.");
                        statusIcon.html('<span class="has-tooltip-arrow has-tooltip-left has-tooltip-danger" data-tooltip="Wystąpił błąd"><i class="fas fa-exclamation-circle bounce" style="color:red;"></i></span>');
                    });
                }
            } else {
                console.log("No message");
            }
        }
    </script>
    <style>
        .exam {
            display: none; /* Hidden by default */
        }

        .show {
            display: block;
        }

        .lds-ripple {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

        .lds-ripple div {
            position: absolute;
            border: 4px solid #fff;
            opacity: 1;
            border-radius: 50%;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

        @keyframes lds-ripple {
            0% {
                top: 36px;
                left: 36px;
                width: 0;
                height: 0;
                opacity: 0;
            }
            4.9% {
                top: 36px;
                left: 36px;
                width: 0;
                height: 0;
                opacity: 0;
            }
            5% {
                top: 36px;
                left: 36px;
                width: 0;
                height: 0;
                opacity: 1;
            }
            100% {
                top: 0;
                left: 0;
                width: 72px;
                height: 72px;
                opacity: 0;
            }
        }

    </style>
{% endblock %}
