{% extends 'core/base.html' %}
{% block title %}Epróba - {{ user.full_name_nickname }}{% endblock %}
{% block content %}
    {% if enable_edit %}
        <script>
            scoutRanks = {
                {% for rank in scout_ranks %}
                    '{{ rank.0 }}': '{{ rank.1 }}',
                {% endfor %}
            }

            instructorRanks = {
                {% for rank in instructor_ranks %}
                    '{{ rank.0 }}': '{{ rank.1 }}',
                {% endfor %}
            }

            functions = {
                {% for function in functions %}
                    '{{ function.0 }}': '{{ function.1 }}',
                {% endfor %}
            }

            function rankDisplay(scoutRank, instructorRank) {
                if (instructorRank !== 0) {
                    return `${scoutRanks[scoutRank]} ${instructorRanks[instructorRank]}`;
                } else {
                    return scoutRanks[scoutRank];
                }
            }

            function deactivateUser() {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'is_active': false}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        alert('Użytkownik został dezaktywowany');
                        location.replace({% url 'teams:view_teams' %})
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się dezaktywować użytkownika: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się dezaktywować użytkownika \n${data.statusText}`)
                        }
                    }
                })
            }

            function reactivateUser() {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'is_active': true}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        alert('Użytkownik został aktywowany');
                        location.reload();
                    },
                    error: function (data) {
                        if (data.readyState === "0") {
                            alert(`Nie udało się aktywować użytkownika: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się aktywować użytkownika \n${data.statusText}`)
                        }
                    }
                })
            }

            function transferUser(targetPatrolId) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'patrol': targetPatrolId, 'function': 0}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        alert('Użytkownik został przeniesiony do nowej drużyny');
                        location.replace({% url 'teams:view_teams' %})
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się przenieść użytkownika: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się przenieść użytkownika \n${data.statusText}`)
                        }
                    }
                })
            }

            function changePatrol(targetPatrolId) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'patrol': targetPatrolId}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#patrol').html(`${data.patrol_name} <i class="fa-solid fa-pen fa-xs"></i></p>`);
                        alert('Użytkownik został przeniesiony do innego zastępu');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się przenieść użytkownika: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się przenieść użytkownika \n${data.statusText}`)
                        }
                    }
                })
            }

            function changeFunction(newFunction) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'function': newFunction}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#function').html(`${functions[data.function]} <i class="fa-solid fa-pen fa-xs"></i></p>`);
                        alert('Funkcja użytkownika została zmieniona');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się zmienić funkcji: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się zmienić funkcji \n${data.statusText}`)
                        }
                    }
                })
            }

            function changeRanks(newScoutRank, newInstructorRank) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'scout_rank': newScoutRank, 'instructor_rank': newInstructorRank}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#rank').html(`${rankDisplay(data.scout_rank, data.instructor_rank)} <i class="fa-solid fa-pen fa-xs"></i></p>`);
                        alert('Stopień użytkownika został zmieniony');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się zmienić stopnia: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się zmienić stopnia \n${data.statusText}`)
                        }
                    }
                })
            }

            function changeFirstName(newFirstName) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'first_name': newFirstName}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#first-name').html(`${data.first_name}`);
                        $('#first-name-edit-icon').css('display', 'inline')
                        $('#first-name-loading-icon').hide()
                        alert('Imię użytkownika zostało zmienione');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się zmienić imienia: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się zmienić imienia \n${data.statusText}`)
                        }
                    }
                })
            }

            function changeLastName(newLastName) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'last_name': newLastName}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#last-name').html(`${data.last_name}`);
                        $('#last-name-edit-icon').css('display', 'inline')
                        $('#last-name-loading-icon').hide()
                        alert('Nazwisko użytkownika zostało zmienione');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się zmienić nazwiska: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się zmienić nazwiska \n${data.statusText}`)
                        }
                    }
                })
            }

            function changeNickname(newNickname) {
                $.ajax({
                    url: '{% url 'api-users-list' %}{{ user.id }}/',
                    type: 'PATCH',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: JSON.stringify({'nickname': newNickname}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $('#nickname').html(`${data.nickname}`);
                        $('#nickname-edit-icon').css('display', 'inline')
                        $('#nickname-loading-icon').hide()
                        alert('Pseudonim użytkownika został zmieniony');
                    },
                    error: function (data) {
                        if (data.readyState === 0) {
                            alert(`Nie udało się zmienić pseudonimu: \nSprawdź swoje połączenie z internetem`)
                        } else {
                            alert(`Nie udało się zmienić pseudonimu \n${data.statusText}`)
                        }
                    }
                })
            }
        </script>
    {% endif %}
    <div class="box" style="position:relative; width:100%;">
        <h1 class="subtitle"><i class="fa-solid fa-arrow-left" style="cursor: pointer" onclick="history.back()"></i>
            {{ user.full_name_nickname }}{% if not user.is_active %} (nieaktywny){% endif %}</h1>
        <table class="table">
            <tr>
                <td>Imię</td>
                <td>
                    {% if enable_edit %}
                        <div id="first-name" class="is-inline" contentEditable="true">
                            {% if user.first_name %}{{ user.first_name }}{% else %}<i>Nie podano</i>{% endif %}</div>
                        <div id="first-name-edit-icon" style="cursor: pointer; display: inline"
                             onclick="$('#first-name').focus()"><i class="fa-solid fa-pen fa-xs"></i></div>
                        <div id="first-name-save-icons" style="display: none">
                            <button id="first-name-confirm-icon"
                                    style="background-color: transparent; border: none; cursor:pointer"><i
                                    class="fa-solid fa-check" style="color: green"></i></button>
                            <button style="background-color: transparent; border: none; cursor:pointer"><i
                                    style="cursor: pointer; color: red" class="fa-solid fa-xmark"></i></button>
                        </div>
                        <div id="first-name-loading-icon" style="cursor: progress; display: none"><i
                                class="fas fa-spinner fa-spin"></i></div>
                    {% else %}
                        <div id="first-name" class="is-inline">
                            {% if user.first_name %}{{ user.first_name }}{% else %}<i>Nie podano</i>{% endif %}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td>
                    {% if enable_edit %}
                        <div id="last-name" class="is-inline" contentEditable="true">
                            {% if user.last_name %}{{ user.last_name }}{% else %}<i>Nie podano</i>{% endif %}</div>
                        <div id="last-name-edit-icon" style="cursor: pointer; display: inline"
                             onclick="$('#last-name').focus()"><i class="fa-solid fa-pen fa-xs"></i></div>
                        <div id="last-name-save-icons" style="display: none">
                            <button id="last-name-confirm-icon"
                                    style="background-color: transparent; border: none; cursor:pointer"><i
                                    class="fa-solid fa-check" style="color: green"></i></button>
                            <button style="background-color: transparent; border: none; cursor:pointer"><i
                                    style="cursor: pointer; color: red" class="fa-solid fa-xmark"></i></button>
                        </div>
                        <div id="last-name-loading-icon" style="cursor: progress; display: none"><i
                                class="fas fa-spinner fa-spin"></i></div>
                    {% else %}
                        <div id="last-name" class="is-inline">
                            {% if user.last_name %}{{ user.last_name }}{% else %}<i>Nie podano</i>{% endif %}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Pseudonim</td>
                <td>
                    {% if enable_edit %}
                        <div id="nickname" class="is-inline" contentEditable="true">
                            {% if user.nickname %}{{ user.nickname }}{% else %}<i>Nie podano</i>{% endif %}</div>
                        <div id="nickname-edit-icon" style="cursor: pointer; display: inline"
                             onclick="$('#nickname').focus()"><i class="fa-solid fa-pen fa-xs"></i></div>
                        <div id="nickname-save-icons" style="display: none">
                            <button id="nickname-confirm-icon"
                                    style="background-color: transparent; border: none; cursor:pointer"><i
                                    class="fa-solid fa-check" style="color: green"></i></button>
                            <button style="background-color: transparent; border: none; cursor:pointer"><i
                                    style="cursor: pointer; color: red" class="fa-solid fa-xmark"></i></button>
                        </div>
                        <div id="nickname-loading-icon" style="cursor: progress; display: none"><i
                                class="fas fa-spinner fa-spin"></i></div>
                    {% else %}
                        <div id="nickname" class="is-inline">
                            {% if user.nickname %}{{ user.nickname }}{% else %}<i>Nie podano</i>{% endif %}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Stopień</td>
                <td>
                    {% if enable_edit %}
                        <p id="rank" class="js-modal-trigger" style="cursor: pointer"
                           data-target="rank-modal">{{ user.rank }} <i class="fa-solid fa-pen fa-xs"></i></p>
                    {% else %}
                        <p id="rank">{{ user.rank }}</p>
                    {% endif %}
                </td>
            </tr>
            {% if request.user.patrol.team.id != user.patrol.team.id %}
                <tr>
                    <td>Drużyna</td>
                    <td>
                        <p id="team">{{ user.patrol.team.name }}</p>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Zastęp</td>
                <td>
                    {% if enable_edit %}
                        <p id="patrol" class="js-modal-trigger" style="cursor: pointer"
                           data-target="patrol-modal">{{ user.patrol.name }} <i class="fa-solid fa-pen fa-xs"></i>
                        </p>
                    {% else %}
                        <p id="patrol">{{ user.patrol.name }}</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Funkcja</td>
                <td>
                    {% if enable_edit %}
                        <p id="function" class="js-modal-trigger" style="cursor: pointer" data-target="function-modal">
                            {{ user.get_function_display }} <i class="fa-solid fa-pen fa-xs"></i>
                        </p>
                    {% else %}
                        <p id="function">{{ user.get_function_display }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% if enable_edit %}
        <div class="box" style="position:relative; width:100%;">
            <div class="buttons">
                <button class="button is-info is-light js-modal-trigger" data-target="transfer-user-modal">
                    <span class="icon"><i
                            class="fa-solid fa-right-left"></i></span><span>Przenieś do innej drużyny</span>
                </button>
                {% if request.user.id != user.id %}
                    {% if user.is_active %}
                        <button class="button is-danger is-light js-modal-trigger" data-target="deactivate-user-modal">
                            <span class="icon"><i
                                    class="fa-solid fa-user-slash"></i></span><span>Dezaktywuj użytkownika</span>
                        </button>
                    {% else %}
                        <button class="button is-success is-light js-modal-trigger" data-target="reactivate-user-modal">
                            <span class="icon"><i
                                    class="fa-solid fa-user-check"></i></span><span>Reaktywuj użytkownika</span>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if enable_edit %}
        <div class="modal" id="rank-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Zmień stopień</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="is-inline-flex">
                        <div class="field" style="margin-inline-end: 1em">
                            <label class="label">Stopień harcerski</label>
                            <div class="control">
                                <div class="select">
                                    <select id="scout-rank-select" class="select is-colored"
                                            onchange="if(this.value>=5) {$('#instructor-rank-field').show()} else {$('#instructor-rank-field').hide(); $('#instructor-rank-select').val(0)}">
                                        {% for rank in scout_ranks %}
                                            <option value="{{ rank.0 }}">{{ rank.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="instructor-rank-field" class="field" style="display: none">
                            <label class="label">Stopień instruktorski</label>
                            <div class="control">
                                <div class="select">
                                    <select id="instructor-rank-select" class="select is-colored">
                                        {% for rank in instructor_ranks %}
                                            <option value="{{ rank.0 }}">{{ rank.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success"
                            onclick="changeRanks($('#scout-rank-select').val(), $('#instructor-rank-select').val())">
                        Zapisz
                    </button>
                    <button class="button">Anuluj</button>
                </footer>
            </div>
        </div>
        <div class="modal" id="patrol-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Zmień zastęp</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field" style="margin-inline-end: 1em">
                        <label class="label">Zastęp</label>
                        <div class="control">
                            <div class="select">
                                <select id="patrol-select" class="select is-colored">
                                    {% for patrol in patrols|dictsort:'name' %}
                                        <option value="{{ patrol.id }}">{{ patrol.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" onclick="changePatrol($('#patrol-select').val())">Zapisz</button>
                    <button class="button">Anuluj</button>
                </footer>
            </div>
        </div>
        <div class="modal" id="function-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Zmień funkcję</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field" style="margin-inline-end: 1em">
                        <label class="label">Funkcja</label>
                        <div class="control">
                            <div class="select">
                                <select id="function-select" class="select is-colored">
                                    {% for function in functions %}
                                        <option value="{{ function.0 }}">{{ function.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" onclick="changeFunction($('#function-select').val())">Zapisz
                    </button>
                    <button class="button">Anuluj</button>
                </footer>
            </div>
        </div>
        <div class="modal" id="transfer-user-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Przenieś do innej drużyny</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field" style="margin-inline-end: 1em">
                        <label class="label">Drużyna</label>
                        <div class="control">
                            <div class="select">
                                <select id="transfer-user-team-select" class="select is-colored">
                                    {% for team in foreign_teams|dictsort:"name" %}
                                        <option value="{{ team.id }}">{{ team }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field" style="margin-inline-end: 1em">
                        <label class="label">Zastęp</label>
                        <div class="control">
                            <div class="select">
                                <select id="transfer-user-patrol-select" class="select is-colored">
                                    {% for patrol in foreign_patrols|dictsort:"name" %}
                                        <option value="{{ patrol.id }}"
                                                data-team-id="{{ patrol.team.id }}">{{ patrol }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-info" onclick="transferUser($('#transfer-user-patrol-select').val())">
                        Przenieś
                    </button>
                    <button class="button">Anuluj</button>
                </footer>
            </div>
        </div>
        {% if request.user.id != user.id %}
            <div class="modal" id="deactivate-user-modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Dezaktywuj użytkownika</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <h1 class="title is-4">Czy na pewno chcesz dezaktywować użytkownika?</h1>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-danger" onclick="deactivateUser()">Tak</button>
                        <button class="button">Anuluj</button>
                    </footer>
                </div>
            </div>
            <div class="modal" id="reactivate-user-modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Reaktywuj użytkownika</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <h1 class="title is-4">Czy na pewno chcesz reaktywować użytkownika?</h1>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" onclick="reactivateUser()">Tak</button>
                        <button class="button">Anuluj</button>
                    </footer>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {% if enable_edit %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Set variables that will be used to discard changes
                let firstNameField = $('#first-name')
                let lastNameField = $('#last-name')
                let nicknameField = $('#nickname')
                let previousFirstName = firstNameField.text();
                let previousLastName = lastNameField.text();
                let previousNickname = nicknameField.text();

                // Set initial values for select elements
                $('#scout-rank-select').val({{ user.scout_rank }});
                $('#instructor-rank-select').val({{ user.instructor_rank }});
                $('#patrol-select').val("{{ user.patrol.id }}");
                $('#function-select').val({{ user.function }});
                if ({{ user.scout_rank }} >= 5 ) {
                    $('#instructor-rank-field').show()
                }

                document.querySelectorAll("#transfer-user-patrol-select option").forEach((patrol) => {
                    patrol.style.display = "none";
                });
                $('#transfer-user-patrol-select').val(-1);
                $('#transfer-user-team-select').val(-1);

                // Functions to open and close a modal
                function openModal($el) {
                    $el.classList.add('is-active');
                }

                function closeModal($el) {
                    $el.classList.remove('is-active');
                }

                function closeAllModals() {
                    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                        closeModal($modal);
                    });
                }

                // Add a click event on buttons to open a specific modal
                (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                    const modal = $trigger.dataset.target;
                    const $target = document.getElementById(modal);

                    $trigger.addEventListener('click', () => {
                        openModal($target);
                    });
                });

                // Add a click event on various child elements to close the parent modal
                (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                    const $target = $close.closest('.modal');

                    $close.addEventListener('click', () => {
                        closeModal($target);
                    });
                });

                // Add a keyboard event to close all modals
                document.addEventListener('keydown', (event) => {
                    if (event.key === "Escape") {
                        closeAllModals();
                    }
                });

                $("#transfer-user-team-select").on("change", function () {
                    let teamId = $("#transfer-user-team-select").val();
                    let patrols = document.querySelectorAll("#transfer-user-patrol-select option");
                    let matchingForeignPatrols = [];
                    patrols.forEach((patrol) => {
                        if (patrol.getAttribute("data-team-id") === teamId) {
                            patrol.style.display = "block";
                            matchingForeignPatrols.push(patrol);
                        } else {
                            patrol.style.display = "none";
                        }
                    });
                    matchingForeignPatrols[0].selected = true;
                });


                firstNameField.on('focusin', function () {
                    $('#first-name-edit-icon').hide()
                    $('#first-name-save-icons').css('display', 'inline')
                });

                firstNameField.on('focusout', function (event) {
                    if (event.relatedTarget !== null && event.relatedTarget !== undefined && event.relatedTarget.id === "first-name-confirm-icon") {
                        previousFirstName = firstNameField.text();
                        $('#first-name-save-icons').hide()
                        $('#first-name-loading-icon').css('display', 'inline')
                        changeFirstName(firstNameField.text());
                        return;
                    }
                    $('#first-name-edit-icon').css('display', 'inline')
                    $('#first-name-save-icons').hide()
                    firstNameField.text(previousFirstName);
                });

                firstNameField.on('keydown', function (event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        previousFirstName = firstNameField.text();
                        changeFirstName(firstNameField.text());
                        $('#first-name-save-icons').hide()
                        $('#first-name-loading-icon').css('display', 'inline')
                        firstNameField.blur();
                    }
                });

                lastNameField.on('focusin', function () {
                    $('#last-name-edit-icon').hide()
                    $('#last-name-save-icons').css('display', 'inline')
                });

                lastNameField.on('focusout', function (event) {
                    if (event.relatedTarget !== null && event.relatedTarget.id === "last-name-confirm-icon") {
                        previousLastName = lastNameField.text();
                        $('#last-name-save-icons').hide()
                        $('#last-name-loading-icon').css('display', 'inline')
                        changeLastName(lastNameField.text());
                        return;
                    }
                    $('#last-name-edit-icon').css('display', 'inline')
                    $('#last-name-save-icons').hide()
                    lastNameField.text(previousLastName);
                });

                lastNameField.on('keydown', function (event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        previousLastName = lastNameField.text();
                        changeLastName(lastNameField.text());
                        $('#last-name-save-icons').hide()
                        $('#last-name-loading-icon').css('display', 'inline')
                        lastNameField.blur();
                    }
                });

                nicknameField.on('focusin', function () {
                    $('#nickname-edit-icon').hide()
                    $('#nickname-save-icons').css('display', 'inline')
                });

                nicknameField.on('focusout', function (event) {
                    if (event.relatedTarget !== null && event.relatedTarget.id === "nickname-confirm-icon") {
                        previousNickname = nicknameField.text();
                        $('#nickname-save-icons').hide()
                        $('#nickname-loading-icon').css('display', 'inline')
                        changeNickname(nicknameField.text());
                        return;
                    }
                    $('#nickname-edit-icon').css('display', 'inline')
                    $('#nickname-save-icons').hide()
                    nicknameField.text(previousNickname);
                });

                nicknameField.on('keydown', function (event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        previousNickname = nicknameField.text();
                        changeNickname(nicknameField.text());
                        $('#nickname-save-icons').hide()
                        $('#nickname-loading-icon').css('display', 'inline')
                        nicknameField.blur();
                    }
                });

            });
        </script>
    {% endif %}
{% endblock %}
