{% extends 'core/base.html' %}
{% block title %}Zgłoś swoją drużynę - Epróba{% endblock %}
{% block content %}
    <div class="box">
        <div class="content">
            <h1 class="title has-text-weight-bold">Zgłoszenie drużyny</h1>
            {% if request.user.patrol %}
                <div class="notification my-2 p-4 mb-5 is-warning">
                    <p>
                        Jesteś obecnie przypisany do zastępu {{ request.user.patrol.name }}
                        w {{ request.user.patrol.team }}. Jeśli zgłosisz swoją drużynę, zostaniesz
                        automatycznie usunięty z tego zastępu i przypisany do nowej drużyny.
                    </p>
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="district">Okręg</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="district" id="district" required>
                                <option value="" disabled selected hidden>Wybierz okręg</option>
                                {% for district in districts %}
                                    <option value="{{ district.id }}">{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="team_name">Nazwa drużyny</label>
                    <div class="control">
                        <input class="input" type="text" name="team_name" id="team_name" required
                               placeholder="np. 30 Zielonogórska Drużyna Harcerzy „Orlęta” im. Cichociemnych">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="team_short_name">Skrócona nazwa drużyny</label>
                    <div class="control">
                        <input class="input" type="text" name="team_short_name" id="team_short_name" required
                               placeholder="np. 30 ZDH „Orlęta”">
                    </div>
                </div>
                <div class="block">
                    <h3 class="is-subtitle mb-2 has-text-weight-semibold">Zastępy</h3>
                    <div id="patrols" class="mb-2">
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="patrols[]" id="patrol_1"
                                       value="Kadra">
                            </div>
                            <div class="control">
                                <button type="button" class="button is-info user-patrol"
                                        onclick="markUserPatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-user-ninja"></i>
                                    </span>
                                </button>
                                <button type="button" class="button is-danger is-soft" onclick="removePatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="patrols[]" id="patrol_2"
                                       value="Bez zastępu">
                            </div>
                            <div class="control">
                                <button type="button" class="button is-info is-outlined user-patrol"
                                        onclick="markUserPatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-user-ninja"></i>
                                    </span>
                                </button>
                                <button type="button" class="button is-danger is-soft" onclick="removePatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="patrols[]" id="patrol_3">
                            </div>
                            <div class="control">
                                <button type="button" class="button is-info is-outlined user-patrol"
                                        onclick="markUserPatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-user-ninja"></i>
                                    </span>
                                </button>
                                <button type="button" class="button is-danger is-soft" onclick="removePatrol(this)">
                                    <span class="icon">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button is-link" onclick="addPatrol()">
                        <span class="icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <span>Dodaj zastęp</span>
                    </button>
                    <input type="hidden" name="user_patrol" id="user_patrol">
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-primary">Zgłoś drużynę</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        let patrolCount = 3;

        function addPatrol() {
            patrolCount++;
            const patrolsDiv = document.getElementById('patrols');
            const newField = document.createElement('div');
            newField.className = 'field is-grouped';
            newField.innerHTML = `
            <div class="control is-expanded">
                <input class="input" type="text" name="patrols[]" id="patrol_${patrolCount}">
            </div>
            <div class="control">
                <button type="button" class="button is-info is-outlined user-patrol" onclick="markUserPatrol(this)">
                    <span class="icon">
                        <i class="fa-solid fa-user-ninja"></i>
                    </span>
                </button>
                <button type="button" class="button is-danger is-soft" onclick="removePatrol(this)">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </button>
            </div>
            `;
            patrolsDiv.appendChild(newField);
            updateUserPatrol();
            newField.querySelector('input').focus();
        }

        function removePatrol(button) {
            const field = button.parentElement.parentElement;
            const input = field.querySelector('input');
            const userPatrol = document.getElementById('user_patrol');
            if (input.value === userPatrol.value) {
                userPatrol.value = '';
            }
            input.removeEventListener('input', updateUserPatrolOnInput);
            field.remove();
            updateUserPatrol();
        }

        function markUserPatrol(button) {
            const input = button.parentElement.parentElement.querySelector('input');
            const userPatrol = document.getElementById('user_patrol');
            userPatrol.value = input.value;
            const userPatrolButtons = document.querySelectorAll('.user-patrol');
            userPatrolButtons.forEach((button) => {
                button.classList.add('is-outlined');
            });
            button.classList.remove('is-outlined');
            input.addEventListener('input', updateUserPatrolOnInput);
        }

        function updateUserPatrol() {
            const userPatrol = document.getElementById('user_patrol');
            if (!userPatrol.value) {
                const firstPatrolInput = document.querySelector('#patrols input');
                if (firstPatrolInput) {
                    markUserPatrol(firstPatrolInput.parentElement.parentElement.querySelector('.user-patrol'));
                }
            }
        }

        function updateUserPatrolOnInput(event) {
            const userPatrol = document.getElementById('user_patrol');
            userPatrol.value = event.target.value;
        }

        document.addEventListener('DOMContentLoaded', updateUserPatrol);
    </script>
{% endblock %}
