{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="box">
        <h1 class="title has-text-weight-bold">Formularz kontaktowy</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button class="button is-primary" type="submit"
                        onclick="this.disabled=true;this.classList.add('is-loading');this.form.submit();">Wyślij
                </button>
            </div>
        </form>
    </div>
    <div class="box">
        <h1 class="title has-text-weight-bold">Informacje kontaktowe</h1>
        <p>Jeśli chcesz, możesz również napisać bezpośrednio na adres:
            <a href="mailto:eproba@zhr.pl">eproba@zhr.pl</a> lub
            <a href="mailto:antoni.czaplicki@zhr.pl">antoni.czaplicki@zhr.pl</a>.
        </p>
    </div>
{% endblock %}
