{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="box">
        {% if validlink %}
            <h3>Ustal nowe hasło</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="button">Zapisz</button>
            </form>
        {% else %}
            <p>
                Link do resetowania hasła jest nieprawidłowy, prawdopodobnie dlatego, że został już użyty.<br>
                <a href="{% url 'password_reset' %}">Wygeneruj nowy link.</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
