{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="title">{{ info }}</h1>
<form method="post">
  {% csrf_token %}
  {% for form in forms %}
  {{ form|crispy }}
  {% endfor %}
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Zarejestruj się przez email</button>
      <button onclick="window.location.href='/accounts/google/login/'" class="button is-danger is-outlined" type="button">
		<span class="icon">
		  <i class="fab fa-google"></i>
        </span>
        <span>Zarejestruj się z Google</span>
	  </button>
      <button onclick="window.location.href='/accounts/facebook/login/'" class="button is-info  is-outlined" type="button">
		<span class="icon">
		  <i class="fab fa-facebook"></i>
        </span>
        <span>Zarejestruj się z Facebook</span>
      </button>
    </div>
  </div>
</form>

{% endblock %}
