{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load provider_ids %}
{% load static %}

{% block content %}
{% get_providers as socialaccount_providers %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">

    <h1 class="title">{{ info }}</h1>
    <div class="buttons">
        {% if "google" in socialaccount_providers|ids %}
        <button onclick="window.location.href='/accounts/google/login/'" class="button is-danger is-outlined" type="button"><span class="icon"><i class="fab fa-google"></i></span><span>Zarejestruj się z Google</span></button>
        {% endif %}
        {% if "facebook" in socialaccount_providers|ids %}
        <button onclick="window.location.href='/accounts/facebook/login/'" class="button is-info  is-outlined" type="button"><span class="icon"><i class="fab fa-facebook"></i></span><span>Zarejestruj się z Facebook</span></button>
        {% endif %}
        <p><br/></p>
    </div>
    <form method="post">
        {% csrf_token %}
        {% for form in forms %}
            {{ form|crispy }}
        {% endfor %}
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Zarejestruj się</button>
            </div>
        </div>
    </form>

{% endblock %}
