<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>e-próba</title>
  <link rel="stylesheet" href="{% static 'css//bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/bulma.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bulma-tooltip.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block headcontent %}
  {% endblock %}

</head>
<body>
<div class="container" id="container">
  {% include "core/navbar.html" %}

  {% block subnavbarcontent %}
  {% endblock %}

  <div class="container" style="position: relative; margin-bottom: 10vh;">
      {% block content %}
      {% endblock %}
  </div>
</div>
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

</body>

</html>
