{% extends 'core/base.html' %}
{% block title %}Edytuj próbę - Epróba{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block extrahead %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1/Sortable.min.js"
            integrity="sha256-ymhDBwPE9ZYOkHNYZ8bpTSm1o943EH2BAOWjAQB+nm4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/worksheets/editor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/worksheets/editor.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="box">
            <form method="POST">
                {% csrf_token %}
                {{ worksheet|crispy }}
                {{ tasks.management_form }}
                <h1>Zadania:</h1>
                <div class="box" id="tasks">
                    {% for form in tasks %}
                        <div class="form-row field has-addons">
                            <div class="field-label is-unselectable"
                                 style="display: flex; align-items: center; flex-grow: 0">{{ forloop.counter }}.
                            </div>
                            <div class="field-body is-flex" id="field-body-{{ forloop.counter|add:"-1" }}"
                                 style="width: 100%">
                                <div class="control" id="input" style="width: 100%">
                                    {{ form.task }}
                                </div>
                                <div class="control" id="action-button">
                                    <button class="button add-form-row {% if not forloop.counter == tasks|length %}is-hidden{% endif %}"
                                            id="id_form-{{ forloop.counter|add:"-1" }}-task-button" type="button"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                    <button class="button remove-form-row {% if forloop.counter == tasks|length %}is-hidden{% endif %}"
                                            id="id_form-{{ forloop.counter|add:"-1" }}-task-button" type="button"
                                            tabindex="-1"><i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <div class="control" id="move-button">
                                    <button class="button draggable"
                                            style="cursor: move; user-select: none; background-color: transparent; touch-action: none"
                                            onclick="this.blur();" type="button" tabindex="-1">
                                        <i class="fa-solid fa-grip-vertical"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="block">
                    <div class="container has-text-centered">
                        <button type="submit" class="button is-outlined is-primary">
                            <span class="icon">
                                <i class="fas fa-pen"></i>
                            </span>
                            <span>Zapisz</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            document.querySelector('#id_form-INITIAL_FORMS').value = 0; // To allow for removing the old tasks, probably not the best way to do it
        </script>
    {% else %}
        <div class="box">
            Nie powinno cię tu być, zaloguj się i wtedy do nas zajrzyj.
        </div>
        <meta http-equiv="refresh" content="3;url={% url 'frontpage' %}"/>
    {% endif %}
{% endblock %}
