{% extends 'core/base.html' %}
{% block title %}Szablony{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/core/helpers.js' %}"></script>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if worksheet_templates %}
            {% for worksheet_template in worksheet_templates %}
                <div class="block worksheet" id="worksheet_{{ worksheet_template.id }}">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <span class="level-item title has-text-weight-medium"
                                      style="margin-bottom: 0">{{ worksheet_template.name }} </span>
                                {% if worksheet_template.organization is not None %}
                                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Scouting_Association_of_the_Republic_Poland.svg/440px-Scouting_Association_of_the_Republic_Poland.svg.png"
                                         alt="ZHR" style="height: 2rem" class="level-item">
                                {% endif %}
                            </div>
                            <div class="level-right is-gapless">
                                <span class="level-item icon has-tooltip-bottom has-tooltip-arrow"
                                      id="tooltip_text_{{ worksheet_template.id }}_print"
                                      data-tooltip="Drukuj szablon"><span
                                        onclick="location.href='{% url 'worksheets:print_worksheet_template' worksheet_template.id %}'"><i
                                        class="fas fa-print"></i></span></span>
                                <span class="level-item icon has-tooltip-bottom has-tooltip-arrow"
                                      id="tooltip_text_{{ worksheet_template.id }}_edit"
                                      data-tooltip="Edytuj szablon"><span
                                        onclick="location.href='{% url 'worksheets:edit_template' worksheet_template.id %}'">
                                    <i class="fa-solid fa-edit"></i></span></span>
                                <span class="level-item icon has-tooltip-bottom has-tooltip-arrow"
                                      id="tooltip_text_{{ worksheet_template.id }}_delete"
                                      data-tooltip="Usuń szablon"><span
                                        onclick="confirm_popup(null, 'Czy na pewno chcesz usunąć ten szablon?', () => {
                                                fetch('{% url 'api-templates-list' %}{{ worksheet_template.id }}/', {
                                                method: 'DELETE',
                                                headers: {
                                                'X-CSRFToken': '{{ csrf_token }}',
                                                'Content-Type': 'application/json'
                                                }
                                                })
                                                .then(response => {
                                                if (response.ok) {
                                                alert('Szablon został usunięty.');
                                                document.getElementById('worksheet_{{ worksheet_template.id }}').remove();
                                                } else {
                                                alert('Wystąpił błąd podczas usuwania szablonu.');
                                                }
                                                })
                                                .catch(error => {
                                                console.error('Error:', error);
                                                alert('Wystąpił błąd podczas usuwania szablonu.');
                                                });
                                                })">
                                     <i class="fa-solid fa-trash"></i></span></span>
                            </div>
                        </div>
                        {% if worksheet_template.description %}
                            <p style="white-space: pre-wrap;">{{ worksheet_template.description }}</p>
                        {% endif %}
                        {% if worksheet_template.template_notes %}
                            <p class="has-text-text-50" style="white-space: pre-wrap;">{{ worksheet_template.template_notes }}</p>
                        {% endif %}
                        <p><br/></p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="is-narrow">Lp.</th>
                                <th>Zadanie</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for task in worksheet_template.tasks.all %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>
                                        <p>{{ task.task }}</p>
                                        {% if task.description %}
                                            <p class="has-text-text-70">{{ task.description }}</p>
                                        {% endif %}
                                        {% if task.template_notes %}
                                            <p class="has-text-text-50">{{ task.template_notes }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="button is-info is-soft"
                                onclick="location.href='{% url 'worksheets:create_worksheet' %}?next={% url 'worksheets:manage_worksheets' %}&source=templates&template={{ worksheet_template.id }}'">
                            <span class="icon">
                                <i class="fa-solid fa-object-group"></i>
                            </span>
                            <span>Użyj szablonu</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                W systemie nie ma jeszcze żadnych szablonów.
            </div>
        {% endif %}
        <div class="block">
            <div class="container has-text-centered">
                <button class="button is-outlined is-primary"
                        onclick="location.href='{% url 'worksheets:create_template' %}'">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Utwórz nowy szablon</span>
                </button>
            </div>
        </div>
    {% else %}
        <div class="box">
            Aby użyć szablonów musisz się najpierw zalogować.
        </div>
    {% endif %}
{% endblock %}
